* {
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=IBM+Plex+Serif:wght@500&family=Kdam+Thmor+Pro&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=IBM+Plex+Serif:wght@500&family=Kdam+Thmor+Pro&display=swap');
  /*font-family: 'Bree Serif', serif;
font-family: 'Caveat', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'Kdam Thmor Pro', sans-serif;*/


                           /* navbar */
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    height: 9vw;
    background-color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.sidebar ul {
    display: flex;
  
}
.sidebar ul li {

    padding: 2vw 5vw;
    cursor: pointer;
    list-style: none;}

   .sidebar ul li a {
        text-decoration: none;
        font-size: 3vw;
        color:white;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
   /* information container */
    .devinfo {
      font-family: 'IBM Plex Serif', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 25vw;
    font-size: 2vw;
    padding: 9vw;
    color:black;
    
    }
    .hello {
      font-size: 5vw;
      font-family: 'source code pro', monospace;
      padding: 3vw;
    }
    /* .devinfo::before {
      content: "";
      background: url('port.png') no-repeat center center/cover;
  
      position: absolute;
      height: 150%;
      width: 100%;
      z-index: -1;
      opacity: 0.7;} */
  
    .name {
      font-size: 5vw;
      font-weight: bold;
      font-family: 'Fira Sans', sans-serif;
      color:black;
      font-family: 'IBM Plex Serif', serif;
      /* font-family: 'Bree Serif', serif; */
    }
    
    .about {
      font-size: 3vw;
      font-family: 'Kdam Thmor Pro', sans-serif;
      margin: 1vw 0vw;
    }
    .about2{
      font-size: 3vw;
      font-family: 'Kdam Thmor Pro', sans-serif;
      
    }
   
    .devinfo a {
      font-size: 3vw;
      /* text-decoration:double; */
      /* text-shadow: 2px 2px blue; */
      color: black;
font-weight: bold;
     
  }
  .devinfo a:hover{
    color: blue;
  }
  
       /* button       */
    .buttons {
        margin-top: 4vw;
      }
      
      .btn {
        padding: 1vw 3vw;
        border-radius: 22px;
        color: white;
        background-color: dodgerblue;
        font-weight: bold;
        font-size: 2vw;
        margin: 0 3px;
        cursor: pointer;
        
    }
      
      .btn:hover {
        background-color: white;
        color: black;
      }
      .contact {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 4rem 6rem;
    }
   #con h1 {
      font-size: 3rem;
      padding: 2rem 1rem;
  }
  #my li {
    list-style: none;
    padding: 2rem;
    font-size: 2vw;
}
#my {
  
  padding: 2rem;

}
#my img {
  width: 87px;
  margin: 22px;
}
.skill {
  width: 327px;
  height: 10px;
  background-color: red;
  border: 2px solid black;
  margin: 14px 7px;
}



.skillcontainer {
  padding: 12px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  
font-size:2vw;
background-color:aliceblue;
border: 2px solid black;
font-family: 'Bree Serif', serif;
background-color: aquamarine;

}

.hundred {
  width: 42vw;
}

.fifty {
  width: 35vw;

}

.t5 {
  width: 26vw;
}

@media (min-width:500px) {
.intro h2{
  margin: 2vh;
  font-size: 3vh;}
p {
  font-family: 'Fira Sans', sans-serif;

}}

.intro p {
  font-family: 'source code pro', monospace;
  font-family: 'Dosis', sans-serif;
  margin: 12px;
  font-size: 2vw;
  font-weight: 500;
}

.intro h2 {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Bree Serif', serif;
  margin: 4vh;
  font-size: 5vh;
  
}

.intro {
  height: 100vh;
  width: 61vw;
  margin: 93px auto;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;


}
#about{border: 2px solid black;
  background-color: aquamarine;

}
.acad{
  border: 2px solid black;
  background-color: aquamarine;
}
.acad li { 
  font-size: 2vw;
  font-family: 'source code pro', monospace;
  padding: 24px;
  font-family: 'Dosis', sans-serif;
  font-size: 2vw;
  font-weight: 500;


}
/* project page */
.pr li {

  margin: 2vw 3vw;
  list-style: none;
}
.pr h1 {
  display: flex;
  justify-content: center;
  font-family: 'source code pro', monospace;
  text-decoration: underline;
}

.pr {
  border: 2px solid black;
  margin: 6vw 19vw;
  box-shadow: 20px 16px black;
  border-radius: 3vw;
  background-color: aquamarine;
}
/* footer */
footer {
  background-color: black;
  color:white;
  /* padding: 1px 650px; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size:2vw;
  font-family: 'Dosis', sans-serif;
  margin-top: 11vw;
}
/* contact page */
#con h1 {
  font-size: 3rem;
  padding: 2rem 1rem;
}
#my li {
list-style: none;
padding: 2rem;
font-size: 2rem;
}